body {
  font: 14px "Avenir", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 35px;
  font-weight: bold;
  line-height: 34px;
  height: 55px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 55px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  text-align: center;
}


.game-board {
  width: 165px;
  margin: 0 auto;

}

.game-info {
  width: 250px;
  margin: 0 auto;
}

.highlight {
  text-decoration: underline;
  background: yellow;
}


li button {
  border: 0;
  font: 400 1rem Avenir, sans-serif;
  transition: background 0.5s;
  outline: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}